<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-data-table/iron-data-table.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <template is="dom-bind">
        <iron-ajax url="https://data.cityoftacoma.org/resource/9dhw-6ye2.json" last-response="{{data}}" auto></iron-ajax>
          <iron-data-table items="[[data]]">
            <data-table-column name="Contractor Owner">
              <template>[[item.contractor_owner]]</template>
            </data-table-column>
            <data-table-column name="Permit #">
              <template>[[item.permit]]</template>
            </data-table-column>
            <data-table-column name="Address">
              <template>[[item.permit_location_address]]</template>
            </data-table-column>
            <data-table-column name="Type">
              <template>[[item.type_of_work]]</template>
            </data-table-column>
            <data-table-column name="Amount">
              <template>[[item.value]]</template>
            </data-table-column>
          </iron-data-table>
      </template>
    </div>
  </template>

  <script>
    let url = "https://data.cityoftacoma.org/resource/9dhw-6ye2.json";
    Polymer({
      is: 'my-view1',
      properties: {
        response: {
          type: String
        }
      }
    });
  </script>
</dom-module>
